<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome Here!!</h2>
    <h4>Today's date and time is <span style="color:royalblue">{{day_time}}</span></h4>
    <h4>Today's date is <span style="color: teal">{{day}}</span></h4>
    <h4>Today's time is <span style="color: springgreen;">{{time}}</span></h4>
    <h4>Year from day_time obj key is <span style="color: tomato;">{{day_time.year}}</span></h4>
    <h4>bonu'r name <span style="color: violet;">{{bonu}}</span></h4>
    <h4>bonu'r name lower a <span style="color: wheat;">{{bonu|lower}}</span></h4>
    <h4>bonu'r name upper a <span style="color: yellow;">{{bonu|upper}}</span></h4>
    <h4>bonu'r name escape and line brake <span style="color: yellowgreen">{{bonu|escape|linebreaks}}</span></h4>
    <h4>bonu'r name escape and line brake and lower <span style="color:violet">{{bonu|lower|escape|linebreaks}}</span></h4>
    <h4>bonu'r name escape and line brake and upper <span style="color:violet">{{bonu|upper|escape|linebreaks}}</span></h4>
</body>
</html>