{% extends "layout/layout.html" %}
    {% block title %} Shops {% endblock %}
    {% block content %}
        {% if edit == 1 and shop == 1 %}
        <div class="container">
            <form method="post" action="{% url 'shop-update' editval.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Shope Name</label>
                                <input type="text" name="shopname" value="{% if edit == 1 %}{{editval.shop_name}}{% endif %}" id="shopname" class="form-control" placeholder="Shop Name">
                            </div>
                            <div class="col-md-4">
                                <label for="">Email-ID</label>
                                <input type="email" name="emailid" value="{% if edit == 1 %}{{editval.shop_email}}{% endif %}" id="emailid" class="form-control" placeholder="example@yopmail.com">
                            </div>
                            <div class="col-md-4">
                                <label for="">Ower Name</label>
                                <input type="text" name="owername" value="{% if edit == 1 %}{{editval.shop_ownner}}{% endif %}" id="owername" class="form-control" placeholder="Owner Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Phone Number</label>
                                <input type="number" name="phoneno" value="{% if edit == 1 %}{{editval.shop_phono}}{% endif %}" id="phoneno" class="form-control" placeholder="Enter Phone NUmber">
                            </div>
                            <div class="col-md-8">
                                <label for="">Location</label>
                                <textarea name="location" id="location"value="{% if edit == 1 %}{{editval.shop_location}}{% endif %}"class="form-control" placeholder="Enter Your Full LOcation">{% if edit == 1 %}{{editval.shop_location}}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <!-- {% csrf_token %}  -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3><span style="color:darkblue">{{datetime}}</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>SHOP DETAILS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table style="border: darkred;" class="table table-hover table-border" id="shoptbl" title="EVERY SHOP DETAILS">
                                <thead>
                                    <tr>
                                        <th>#Sl</th>
                                        <th>Created Date</th>
                                        <th>Last Updated Date</th>
                                        <th>Shop Name</th>
                                        <th>Email-ID</th>
                                        <th>LOcaTion</th>
                                        <th>PhOnE NumBEr</th>
                                        <th>OWneR</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sd in shopdetails %}
                                    <tr>
                                        <td>{{sd.id}}</td>
                                        <td>{{sd.created_at}}</td>
                                        <td>{{sd.updated_at}}</td>
                                        <td>{{sd.shop_name|upper}}</td>
                                        <td>{{sd.shop_email}}</td>
                                        <td>{{sd.shop_location|upper}}</td>
                                        <td>{{sd.shop_phono}}</td>
                                        <td>{{sd.shop_ownner|upper}}</td>
                                        <td>
                                            <a href="{% url 'shop-delete' id=sd.id %}"><i class="fa fa-trash"></i></a> | 
                                            <a href="{% url 'single-shop' id=sd.id %}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="pagination">
                            <span class="step-links">
                                {% if shopdetails.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ shopdetails.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ shopdetails.number }} of {{ shopdetails.paginator.num_pages }}.
                                </span>
                        
                                {% if shopdetails.has_next %}
                                    <a href="?page={{ shopdetails.next_page_number }}">next</a>
                                    <a href="?page={{ shopdetails.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>PRODUCT DETAILS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <table style="border: darkred;" class="table table-hover table-border" id="producttbl" title="EVERY PRODUCT DETAILS">
                            <thead>
                                <tr>
                                    <th>#Sl</th>
                                    <th>Created Date</th>
                                    <th>Last Updated Date</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>MFD</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pd in products %}
                                <tr>
                                    <td>{{pd.id}}</td>
                                    <td>{{pd.created_at}}</td>
                                    <td>{{pd.updated_at}}</td>
                                    <td>{{pd.product_name|upper}}</td>
                                    <td>{{pd.price}}</td>
                                    <td>{{pd.mfd}}</td>
                                    <td>
                                        <a href="{% url 'product-delete' id=pd.id %}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row text-center">
                        <div class="pagination">
                            <span class="step-links">
                                {% if products.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ products.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                                </span>
                        
                                {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}">next</a>
                                    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>SELLER DETAILS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <table style="border: darkred;" class="table table-hover table-border" id="sellertbl" title="EVERY SELLER DETAILS">
                            <thead>
                                <tr>
                                    <th>#Sl</th>
                                    <th>Created Date</th>
                                    <th>Last Updated Date</th>
                                    <th>Seller Name</th>
                                    <th>Product Name</th>
                                    <th>Phone No</th>
                                    <th>Email-ID</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sl in sellers %}
                                <tr>
                                    <td>{{sl.id}}</td>
                                    <td>{{sl.created_at}}</td>
                                    <td>{{sl.updated_at}}</td>
                                    <td>{{sl.seller_name|upper}}</td>
                                    <td>{{sl.product_id_id.product_name}}</td>
                                    <td>{{sl.phone_no}}</td>
                                    <td>{{sl.email_id}}</td>
                                    <td>{{sl.address}}</td>
                                    <td>
                                        <a href="{% url 'seller-delete' id=sl.id %}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row text-center">
                        <div class="pagination">
                            <span class="step-links">
                                {% if sellers.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ sellers.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ sellers.number }} of {{ sellers.paginator.num_pages }}.
                                </span>
                        
                                {% if sellers.has_next %}
                                    <a href="?page={{ sellers.next_page_number }}">next</a>
                                    <a href="?page={{ sellers.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#producttbl').DataTable({"paging": false, "bInfo": true, "searching": true, "lengthChange": true});
            $('#shoptbl').DataTable({"paging": false, "bInfo": true, "searching": true, "lengthChange": true});
            $('#sellertbl').DataTable({"paging": false, "bInfo": true, "searching": true, "lengthChange": true});
        </script>
    {% endblock %}