{% extends "layout/layout.html" %}
    {% block title %} KOYEL G.N. {% endblock %}
    {% block content %}
    <div class="container">
        {% if form == 'product' %}
        <form action="{% url 'product-entry-form' %}" class="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{proform}}
            {% for er in proform %}
                {{er.errors}}
            {% endfor %}
            <div class="row">
                <div class="col-md-4 text-left">
                    <button type="submit" class="btn btn-success"><i class="fa fa-file"></i></button>
                </div>
            </div>
        </form>
        {% else %}
        <form action="{% url 'seller-entry-form' %}" class="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{selform}}
            <div class="row">
                <div class="col-md-4 text-left">
                    <button type="submit" class="btn btn-info"><i class="fa fa-file"></i></button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <br />
    <div class="container">
        <div class="col-md-12">
            {% if form == 'product' %}
                <div class="row">
                    <div class="col-md-6" style="color: seagreen;border: black 1px solid;">{{ses.ses1}}</div>
                    <div class="col-md-6" style="color: rebeccapurple;border: black 1px solid;">{{ses.ses2}}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        // $(document).ready(function(){
            // let forme = '{{form|upper}}';
            // if(forme === 'PRODUCT'){
            //     Swal.mixin({
            //         input: 'text',
            //         confirmButtonText: 'Next &rarr;',
            //         showCancelButton: true,
            //         progressSteps: ['1']
            //     }).queue([{
            //         title: 'Question 1',
            //         text: "What's your name?"
            //     }]).then((result) => {
            //         if (result.value) {
            //             const answers = JSON.stringify(result.value);
            //             if(answers != undefined){
            //                 // 
            //             }
            //         }
            //     });
            // }
        // });
    </script>
    {% endblock %}