{% extends "layout/layout.html" %}
    {% block title %} KOYEL G.N. {% endblock %}
    {% block content %}
    <div class="container">
        {% if form == 'product' %}
        <form action="{% url 'product-entry-form' %}" class="post-form" method="post">
            {% csrf_token %}
            {{proform}}
            <button type="submit" class="btn btn-success"><i class="fa fa-file"></i></button>
        </form>
        {% else %}
        <form action="{% url 'seller-entry-form' %}" class="post-form" method="post">
            {% csrf_token %}
            {{selform}}
            <button type="submit" class="btn btn-success"><i class="fa fa-file"></i></button>
        </form>
        {% endif %}
    </div>
    {% endblock %}