{% extends "layout/layout.html" %}
    {% block title %} KOYEL G.N. {% endblock %}
    {% block content %}
        <div class="container">
            <h3>Welcome Mousumi!!</h3>
            <p>IT's a Generic static page.</p>
            <p>Call this page by ListView method from myapp1url.py</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>PRODUCT DETAILS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <table style="border: darkred;" class="table table-hover table-border" id="producttbl" title="EVERY PRODUCT DETAILS">
                            <thead>
                                <tr>
                                    <th>#Sl</th>
                                    <th>Created Date</th>
                                    <th>Last Updated Date</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>MFD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pd in products_list %}
                                <tr>
                                    <td>{{pd.id}}</td>
                                    <td>{{pd.created_at}}</td>
                                    <td>{{pd.updated_at}}</td>
                                    <td>{{pd.product_name|upper}}</td>
                                    <td>{{pd.price}}</td>
                                    <td>{{pd.mfd}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#producttbl').DataTable({"paging": true, "bInfo": true, "searching": true, "lengthChange": true});
        </script>
    {% endblock %}